h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #000000;
}
b {
  display: block;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
